@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-ExtraLight.ttf) format(truetype);
  font-weight: 200;
}
@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf) format(truetype);
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-SemiBold.ttf) format(truetype);
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-ExtraBold.ttf) format(truetype);
  font-weight: 900;
}
@font-face {
  font-family: Urbanist;
  src: url(../Fonts/Urbanist/Urbanist-VariableFont_wght.ttf) format(truetype);
  font-weight: 400;
}
*::-moz-selection {
  background-color: rgb(70, 13, 124);
  color: rgb(255, 138, 196);
}
*::selection {
  background-color: rgb(70, 13, 124);
  color: rgb(255, 138, 196);
}

body {
  background-color: rgb(1, 9, 37);
}

header {
  width: 100%;
  padding: 15px 0;
  background-color: rgb(4, 30, 51);
  overflow: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Urbanist";
}
.navbar .drk__bg {
  display: none;
  position: fixed;
  width: 100%;
  min-height: 200vh;
  background-color: rgba(0, 0, 0, 0.486);
  z-index: 90;
}
.navbar .btn__menu {
  margin-left: 20px;
}
.navbar .btn__menu i {
  padding: 16px;
  border-radius: 1000px;
  background-color: rgba(189, 12, 180, 0.2941176471);
  font-size: 26px;
  letter-spacing: 2px;
  color: blueviolet;
}
.navbar .btn__menu i:hover {
  cursor: pointer;
}

.nav {
  width: 300px;
  min-height: 100dvh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(129, 36, 172, 0.788);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 10px;
  top: 0;
  right: -100%;
  z-index: 100;
  transition: all 0.5s;
}
.nav .x {
  padding: 5px 12px;
  position: absolute;
  top: 23px;
  right: 30px;
  border-radius: 50px;
  background-color: rgba(1, 9, 37, 0.788);
  font-size: 26px;
  color: rgb(255, 255, 255);
}
.nav .x i:hover {
  cursor: pointer;
}
.nav .navbar__list {
  width: 100%;
  height: 80dvh;
  display: flex;
  list-style: none;
  margin-left: 15px;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
}
.nav .navbar__list a {
  text-decoration: none;
  color: #fafafa;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 17px;
}
.nav .navbar__list li {
  padding: 0 7px;
  color: #fafafa;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-45%);
}
.logo .logo__img {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  overflow: hidden;
}
.logo .logo__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.logo .logo__txt {
  margin-left: 5px;
}
.logo .logo__txt p {
  font-size: 20px;
  color: #fafafa;
}

.carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fafafa;
  margin-right: 50px;
}
.carrito .carrt__ico {
  color: #fafafa;
}
.carrito .carrt__ico:hover {
  color: #b1afaf;
}
.carrito .carrito__cantidad {
  width: 35px;
  background-color: blueviolet;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  margin-left: 10px;
}

.banner {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  letter-spacing: 3px;
}
.banner .banner__content {
  width: 50%;
  text-align: center;
  line-height: 50px;
}
.banner .banner__content h1 {
  font-size: 50px;
  color: #fafafa;
}
.banner .banner__content p {
  color: #fafafa;
  font-size: 20px;
}
.banner .btn {
  overflow: hidden;
  position: relative;
  padding: 10px 25px;
  background-color: blueviolet;
  border-radius: 50px;
  outline: none;
  border: none;
  z-index: 10;
  cursor: pointer;
}
.banner .btn p {
  position: relative;
  font-family: "poppins";
  color: #fafafa;
  text-decoration: none;
  font-size: 17px;
  z-index: 10;
}
.banner .btn span {
  transition-timing-function: cubic-bezier(1, 2);
  transition-duration: 0.8s;
  border-radius: 9999px;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.btn:hover span {
  width: 300px;
  height: 300PX;
  background-color: rgba(230, 4, 154, 0.781);
  z-index: 1;
}

@media only screen and (max-width: 510px) {
  .banner .banner__content {
    width: 70%;
  }
  .banner .banner__content p {
    letter-spacing: 0;
  }
}
@media only screen and (max-width: 400px) {
  .banner .banner__content {
    width: 80%;
  }
  .banner .banner__content h1 {
    font-size: 45px;
    letter-spacing: 1px;
  }
  .banner .banner__content p {
    letter-spacing: 0;
  }
}
.banner__container {
  width: 100%;
  margin-top: 10px;
  height: 60vh;
}
.banner__container .swiper-slide {
  width: 100%;
}
.banner__container .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.banner__container .swiper-button-next,
.banner__container .swiper-button-prev {
  color: blueviolet;
}
.banner__container span {
  background-color: blueviolet;
}

.nose {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.about__us__container {
  width: 90%;
  display: flex;
  background-color: blueviolet;
  padding: 0;
  margin: 50px 0 15px;
  border-radius: 30px;
}
.about__us__container .about__us__img {
  width: 50%;
  max-height: 100%;
  border-top-left-radius: 30px;
  background-color: rgb(1, 9, 37);
}
.about__us__container .about__us__img img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.about__us__container .about__us__txt {
  width: 50%;
  max-height: 100%;
}
.about__us__container .about__us__txt p {
  font-weight: 600;
  letter-spacing: 1px;
  color: #cecece;
  font-family: "Urbanist";
  font-size: 18px;
  padding: 20px 15px;
  text-wrap: pretty;
}

@media screen and (min-width: 1024px) {
  .about__us__container {
    width: 70%;
    max-height: 450px;
  }
}
@media screen and (min-width: 1440px) {
  .about__us__container {
    width: 45%;
    max-height: 700px;
  }
}
@media screen and (max-width: 500px) {
  .about__us__container {
    width: 90%;
    flex-direction: column;
  }
  .about__us__container .about__us__img {
    width: 100%;
    height: 70%;
  }
  .about__us__container .about__us__txt {
    width: 100%;
  }
}
.pq__elegirnos__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #cecece;
  font-family: "Urbanist";
  text-align: center;
}
.pq__elegirnos__container h2 {
  color: #cecece;
  font-family: "Poppins";
  font-size: 35px;
  margin: 20px 0;
}
.pq__elegirnos__container .acordeon__container {
  width: 80%;
  background-color: black;
  border-radius: 15px;
  margin: 5px 0;
}
.pq__elegirnos__container .acordeon__container .acordeon__top {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.pq__elegirnos__container .acordeon__container .acordeon__top .acordeon__top--title h3 {
  padding: 15px 20px;
  font-size: 24px;
}
.pq__elegirnos__container .acordeon__container .acordeon__top .acordeon__top--icon i {
  font-size: 18px;
  padding: 15px 20px;
}
.pq__elegirnos__container .acordeon__container .acordeon__top .acordeon__top--icon .rotate {
  transform: rotate(180deg);
}
.pq__elegirnos__container .acordeon__container .acordeon__dsc {
  text-wrap: pretty;
  padding: 0px 20px;
  max-height: 0;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
  text-align: left;
}
.pq__elegirnos__container .acordeon__container .active {
  padding: 15px 20px;
  text-wrap: pretty;
  max-height: 500px;
  background-color: black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: left;
}

.linea {
  position: relative;
  width: 100%;
  display: block;
  height: 2px;
  background-image: linear-gradient(to left, rgb(255, 0, 212), blueviolet, rgb(119, 0, 255), rgba(1, 9, 37, 0.788), rgba(15, 38, 121, 0.788), rgb(30, 51, 172), rgb(0, 38, 255), rgb(255, 0, 212));
  animation: NEON__LINE 25s linear infinite;
  filter: blur(0.2px);
}

.linea::before {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  height: 3px;
  background-image: linear-gradient(to left, rgb(255, 0, 212), blueviolet, rgb(119, 0, 255), rgba(1, 9, 37, 0.788), rgba(15, 38, 121, 0.788), rgb(30, 51, 172), rgb(0, 38, 255), rgb(255, 0, 212));
  animation: NEON__LINE 25s linear infinite;
  background-size: 500%;
  filter: blur(0.2px);
}

.linea::after {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  height: 3px;
  background-image: linear-gradient(to left, rgb(255, 0, 212), blueviolet, rgb(119, 0, 255), rgba(1, 9, 37, 0.788), rgba(15, 38, 121, 0.788), rgb(30, 51, 172), rgb(0, 38, 255), rgb(255, 0, 212));
  animation: NEON__LINE 25s linear infinite;
  background-size: 500%;
  filter: blur(5px);
}

@keyframes NEON__LINE {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 500% 0;
  }
}
.reseñas__container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 95px;
}

.reseñas__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  color: #cecece;
  font-family: "Urbanist";
}
.reseñas__content .reseñas__top {
  font-size: 70px;
}
.reseñas__content .reseñas__txt {
  font-size: 18px;
  padding: 15px 30px;
}
.reseñas__content .stars__nombre {
  margin: 10px 0 20px 0;
}
.reseñas__content .stars__nombre .stars {
  margin-bottom: 5px;
  color: yellow;
}
.reseñas__content .stars__nombre .nombre {
  margin-top: 5px;
  font-size: 18px;
}

#next {
  transform: translate(12px, 10px);
  color: blueviolet;
}

#prev {
  transform: translate(-12px, 10px);
  color: blueviolet;
}

#pagination {
  transform: translateY(11px);
}
#pagination span {
  background-color: blueviolet;
}

.container__general {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.overflow {
  overflow: hidden;
}

.card__container {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Urbanist";
  gap: 30px;
}
.card__container .cards {
  z-index: 10;
  max-width: 300px;
  min-height: 450px;
  color: #b1afaf;
  margin: 10px 20px;
  position: relative;
  box-shadow: 5px 15px 65px -5px rgb(75, 32, 156);
  border-radius: 10px;
  animation: aparecer both;
  animation-timeline: view();
  animation-range: cover 2% cover 40%;
  z-index: 10;
}
.card__container .cards .card__img {
  width: 100%;
  height: 250px;
  border-radius: 15px;
  overflow: hidden;
}
.card__container .cards .card__img img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s;
}
.card__container .cards .card__title {
  margin: 5px;
}
.card__container .cards .card__title span {
  color: #dadada;
  font-family: "Poppins";
  text-align: center;
}
.card__container .cards .card__description {
  text-wrap: pretty;
  padding: 5px 10px;
}
.card__container .cards .card__price__and__carrito {
  display: flex;
  position: absolute;
  bottom: 1px;
  left: 20%;
  align-items: center;
}
.card__container .cards .card__price__and__carrito .price {
  font-size: 20px;
  margin-right: 50px;
}
.card__container .cards .card__price__and__carrito .add__carrito button {
  background-color: rgb(1, 9, 37);
  overflow: hidden;
  position: relative;
  padding: 10px;
  border-radius: 50px;
  outline: none;
  border: none;
  z-index: 10;
  cursor: pointer;
  margin-left: 50px;
}
.card__container .cards .card__price__and__carrito .add__carrito button span {
  transition-timing-function: cubic-bezier(1, 2);
  transition-duration: 0.9s;
  border-radius: 9999px;
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.card__container .cards .card__price__and__carrito .add__carrito i {
  color: #fafafa;
  font-size: 20px;
}
.card__container .cards .card__price__and__carrito button:hover span {
  width: 50px;
  height: 50px;
  background-color: rgba(137, 43, 226, 0.781);
}
.card__container .cards:hover img {
  transform: scale(1.1);
}
.card__container .cards:hover .card__title {
  text-decoration: underline;
}

.filtros {
  position: sticky !important;
  max-width: 850px;
  height: 100dvh;
  left: 1px;
  top: 0;
  background-color: rgb(25, 10, 68);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  border-top-right-radius: 25px;
  border-bottom-right-radius: 15px;
  z-index: 20;
}
.filtros .top__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  position: relative;
  align-items: left;
  margin: 35px 0;
}
.filtros .top__menu .menu__left {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #cecece;
  z-index: 19;
}
.filtros .top__menu .menu__left a {
  text-decoration: none;
  font-size: 15px;
  color: #cecece;
}
.filtros .top__menu .menu__left a .ico {
  margin: 4px;
}
.filtros .top__menu .menu__left a .ico i {
  font-size: 23px;
}
.filtros .top__menu .menu__left a .logo__filter p {
  text-decoration: none;
  font-size: 20px;
  color: #cecece;
}
.filtros .top__menu .flecha {
  color: violet;
  display: block;
  position: absolute;
  right: -23px;
  padding: 5px 14px;
  border-radius: 50%;
  background-color: rgb(1, 9, 37);
  font-size: 30px;
  transform: rotate(180deg);
  z-index: 20;
}
.filtros .menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}
.filtros .filtros_lista {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  color: #cecece;
}
.filtros .filtros_lista #extra {
  font-size: 25px;
  letter-spacing: 1px;
  color: #cecece;
  font-weight: 700;
  cursor: default;
  margin: 15px 0;
}
.filtros .filtros_lista li {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 20px 0;
  cursor: pointer;
}
.filtros .filtros_lista li .ico {
  font-size: 25px;
  margin: 0 15px;
}
.filtros .filtros_lista li .filter__text {
  font-size: 17px;
}
.filtros .filtros_lista li:hover p {
  text-decoration: underline;
}
.filtros .filtros_lista li:hover #sinHover {
  text-decoration: none;
}

.active {
  width: 100%;
  background-color: rgb(1, 9, 37);
  padding: 5px 0;
  position: relative;
}

.active::after {
  content: "";
  width: 15px;
  height: 20px;
  background-color: transparent;
  position: absolute;
  right: 0;
  bottom: 100%;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 10px 0px rgb(1, 9, 37);
}

.active::before {
  content: "";
  width: 15px;
  height: 20px;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 100%;
  border-top-right-radius: 10px;
  box-shadow: 0px -10px 0px rgb(1, 9, 37);
}

.close {
  max-width: 100px;
}
.close .top__menu {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close .top__menu .menu__left p {
  display: none;
}
.close .top__menu .flecha {
  color: violet;
  display: block;
  padding: 5px 14px;
  border-radius: 50%;
  background-color: rgb(1, 9, 37);
  font-size: 30px;
  transform: rotate(0deg);
  z-index: 200;
}
.close .filtros_lista .active {
  padding: 5px 0;
}
.close .filtros_lista #extra .filter__title__text {
  display: none;
}
.close .filtros_lista .filter__text {
  display: none;
}

@media only screen and (max-width: 800px) {
  .navbar .btn__menu {
    margin-left: 20px;
  }
  .navbar .btn__menu i {
    padding: 13px;
    border-radius: 1000px;
    background-color: rgba(189, 12, 180, 0.2941176471);
    font-size: 23px;
    letter-spacing: 2px;
    color: blueviolet;
  }
  .logo {
    transform: translateX(0);
    margin: 0 10px;
  }
  .logo .logo__img {
    width: 45px;
    height: 40px;
  }
  .logo .logo__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .logo .logo__txt {
    margin-left: 5px;
  }
  .logo .logo__txt p {
    font-size: 18px;
  }
  .card__container .cards {
    max-width: 250px;
    min-height: 300px;
    margin: 10px;
  }
  .card__container .cards .card__price__and__carrito {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    left: 0;
  }
  .card__container .cards .card__price__and__carrito .add__carrito button {
    margin-left: 10px;
  }
}
.toast__container {
  position: fixed;
  top: 7%;
  right: 15px;
  z-index: 101;
}

.toast {
  width: 330px;
  height: 80px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  margin-bottom: 15px;
  font-family: "Poppins";
}

.wave {
  position: absolute;
  transform: rotate(90deg);
  left: -31px;
  top: 32px;
  width: 80px;
  fill: rgba(4, 228, 0, 0.2274509804);
}

.icon-container {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(4, 228, 0, 0.2823529412);
  border-radius: 50%;
  margin-left: 8px;
}

.icon {
  width: 17px;
  height: 17px;
  color: #269b24;
}

.message-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}

.message-text,
.sub-text {
  margin: 0;
  cursor: default;
}

.message-text {
  color: #269b24;
  font-size: 17px;
  font-weight: 700;
}

.sub-text {
  font-size: 14px;
  color: #555;
}

.cross-icon {
  width: 18px;
  height: 18px;
  color: #555;
  cursor: pointer;
}

.arrow {
  transform: rotate(-90deg);
}

.general__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.carrito__container {
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  font-family: "Urbanist";
  gap: 30px;
  color: #fafafa;
}
.carrito__container .carrito__producto {
  background-color: rgb(25, 10, 68);
  border-radius: 25px;
  min-width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.carrito__container .carrito__producto .imagen__nombre__producto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carrito__container .carrito__producto .imagen__nombre__producto .imagen__nombre__producto--img {
  width: 90px;
  border-radius: 15px;
  margin: 0 10px;
}
.carrito__container .carrito__producto .imagen__nombre__producto .imagen__nombre__producto--img img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.carrito__container .carrito__producto .cantidad__precio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.carrito__container .carrito__producto .cantidad__precio #precio {
  width: 50%;
}
.carrito__container .carrito__producto .cantidad__precio #producto {
  width: 50%;
}
.carrito__container .carrito__producto .iconos___producto {
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.carrito__container .carrito__producto .iconos___producto button {
  background-color: rgb(25, 10, 68);
  overflow: hidden;
  position: relative;
  padding: 0 10px;
  border-radius: 100px;
  outline: none;
  border: none;
  z-index: 10;
  cursor: pointer;
}
.carrito__container .carrito__producto .iconos___producto button span {
  transition-timing-function: cubic-bezier(1, 2);
  transition-duration: 0.9s;
  border-radius: 9999px;
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.carrito__container .carrito__producto .iconos___producto button:hover span {
  width: 50px;
  height: 50px;
  background-color: rgb(0, 0, 3);
}
.carrito__container .carrito__producto .iconos___producto i {
  color: #fafafa;
  padding: 10px 0;
}

@media only screen and (max-width: 1150px) {
  .general__container {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
}
@media screen and (max-width: 850px) {
  .carrito__container {
    overflow: scroll;
  }
  .imagen__nombre__producto {
    flex-direction: column;
  }
}
@media only screen and (max-width: 800px) {
  .carrito__container {
    overflow: scroll;
  }
  .carrito__producto {
    overflow: scroll;
  }
}
@media only screen and (max-width: 600px) {
  .carrito__container {
    overflow: hidden;
  }
  .carrito__container .carrito__producto {
    min-width: 0px;
    max-width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    overflow: scroll;
  }
  .carrito__container .carrito__producto .cantidad__precio {
    width: 100%;
  }
  .carrito__container .carrito__producto .cantidad__precio #precio {
    text-align: end;
  }
  .carrito__container .carrito__producto .cantidad__precio #producto {
    text-align: start;
  }
  .carrito__container .carrito__producto .imagen__nombre__producto {
    margin-bottom: 25px;
  }
  .carrito__container .carrito__producto .iconos___producto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
  }
}
@media only screen and (max-width: 380px) {
  .general__container .carrito__producto {
    padding: 5px;
  }
  .general__container .carrito__producto .cantidad__precio {
    flex-wrap: wrap;
  }
  .general__container .carrito__producto .cantidad__precio #precio {
    width: 30%;
  }
  .general__container .carrito__producto .cantidad__precio #producto {
    width: 70%;
  }
  .resumen__compra {
    margin: 30px 50px 0;
  }
  .resumen__compra .final--compra {
    padding: 0;
  }
}
.mensaje__carrito__vacio {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mensaje__carrito__vacio .mensaje__carrito__vacio--contenedor {
  text-align: center;
  width: 100%;
}
.mensaje__carrito__vacio .mensaje__carrito__vacio--contenedor h1 {
  font-family: "Poppins";
  font-size: 35px;
  color: #c7c7c7;
}
.mensaje__carrito__vacio .mensaje__carrito__vacio--contenedor i {
  padding-top: 5px;
  font-size: 40px;
  color: #c7c7c7;
  transition: all 0.6s;
}
.mensaje__carrito__vacio .mensaje__carrito__vacio--contenedor i:hover {
  color: rgb(4, 238, 199);
}

.volver__comprar {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.volver__comprar .carrito--vacio {
  font-family: "Poppins";
  font-size: 15px;
  letter-spacing: 0.5px;
  position: relative;
  padding: 12px 25px;
  border-radius: 15px;
  outline: none;
  border: none;
  color: #dbdbdb;
  background-color: rgb(25, 10, 68);
  overflow: hidden;
  cursor: pointer;
}
.volver__comprar .carrito--vacio p {
  font-family: "Poppins";
  font-weight: 600;
  position: relative;
}
.volver__comprar .carrito--vacio .circle {
  transition: all 0.9s ease-in-out;
  width: 0px;
  height: 0px;
  background-color: rgb(230, 4, 117);
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.volver__comprar .carrito--vacio:hover .circle {
  width: 500px;
  height: 500px;
}

.resumen__compra {
  display: none;
  padding: 15px;
  background-color: blueviolet;
  max-width: 400px;
  max-height: 300px;
  padding: 20px 25px;
  font-family: "Urbanist";
  border-radius: 12px;
  color: #dbdbdb;
  margin: 30px 20px;
}
.resumen__compra h3 {
  text-align: center;
  font-family: "Poppins";
}
.resumen__compra .cantidad__productos {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 40px 0;
}
.resumen__compra .total__precio {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.resumen__compra .finalizar__compra {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.resumen__compra .finalizar__compra .final--compra {
  font-family: "Poppins";
  letter-spacing: 0.5px;
  position: relative;
  padding: 7px 40px;
  border-radius: 15px;
  outline: none;
  border: none;
  color: #dbdbdb;
  background-color: rgb(25, 10, 68);
  overflow: hidden;
}
.resumen__compra .finalizar__compra .final--compra p {
  position: relative;
}
.resumen__compra .finalizar__compra .final--compra .circle {
  transition: all 0.9s ease-in-out;
  width: 0px;
  height: 0px;
  background-color: rgb(230, 4, 117);
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.resumen__compra .finalizar__compra .final--compra:hover .circle {
  width: 500px;
  height: 500px;
}
.resumen__compra .finalizar__compra .final--compra:hover {
  cursor: pointer;
}

.bton__regresar {
  text-decoration: none;
  cursor: pointer;
}
.bton__regresar .ico i {
  cursor: pointer;
}

#bton__regresar {
  cursor: pointer;
}
#bton__regresar p {
  text-decoration: none;
  font-size: 20px;
}

.bton__regresar:hover #bton__regresar p {
  text-decoration: underline;
}
.bton__regresar:hover #bton__regresar p:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  background-color: rgb(3, 14, 61);
  margin-top: 15px;
  padding: 35px 0;
}
footer .footer__content {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  color: #cecece;
  flex-direction: column;
  font-family: "Urbanist";
}
footer .footer__content .enlaces__top {
  width: 50%;
  margin: 35px 0;
  text-align: center;
}
footer .footer__content .enlaces__top .title {
  margin-bottom: 20px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
}
footer .footer__content .enlaces__top .enlaces {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .footer__content .enlaces__top .enlaces a {
  color: #cecece;
  text-decoration: none;
}
footer .footer__content .enlaces__top .enlaces a:hover {
  text-decoration: underline;
  color: #bebebe;
}
footer .footer__content .cuenta {
  max-width: 25%;
  display: flex;
  flex-direction: column;
}
footer .footer__content .cuenta .caja {
  max-width: 100%;
}
footer .footer__content .cuenta .caja a {
  color: #cecece;
  text-decoration: none;
}
footer .footer__content .cuenta .caja a:hover {
  text-decoration: underline;
  color: #bebebe;
}
footer .footer__content .enlaces__content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
footer .footer__content .enlaces__content a {
  color: #cecece;
}
footer .footer__content .enlaces__content .redes__sociales {
  margin-top: 3px;
  letter-spacing: 9px;
}
footer .footer__content .enlaces__content .redes__sociales i {
  transition: all 0.3s;
}
footer .footer__content .enlaces__content .redes__sociales i:hover {
  color: #246b9b;
}
footer .footer__content .metodos_pago {
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
footer .footer__content .metodos_pago .metodos_pago--img {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer__content .metodos_pago .metodos_pago--img .box {
  width: 50px;
  height: 50px;
}
footer .footer__content .metodos_pago .metodos_pago--img .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
footer .footer__content .metodos_pago .metodos_pago--img #mp img {
  border-radius: 25px;
}
footer .rigths__reserved {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 17px;
  color: rgba(185, 185, 185, 0.6980392157);
  margin-top: 50px;
}
footer .rigths__reserved .rigths {
  padding-left: 5px;
}
footer .rigths__osky {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 17px;
  color: rgba(223, 223, 223, 0.8823529412);
  margin-top: 5px;
}
footer .rigths__osky .my {
  padding-left: 5px;
}
footer .rigths__osky .my a {
  color: rgba(223, 223, 223, 0.8823529412);
  transition: all 0.3s;
}
footer .rigths__osky .my a:hover {
  color: #246b9b;
}

.resaltado {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  color: rgba(219, 76, 212, 0.856);
}

.resaltado__title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
}

@media only screen and (max-width: 799px) {
  footer .footer__content {
    padding: 15px;
  }
  footer .footer__content .enlaces__top {
    width: 100%;
  }
  footer .footer__content .enlaces__top .enlaces {
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  footer .footer__content .enlaces__top .enlaces a {
    margin-right: 5px;
  }
  footer .footer__content .enlaces__content {
    flex-direction: column;
  }
  footer .footer__content .enlaces__content .contactanos,
  footer .footer__content .enlaces__content .cuenta,
  footer .footer__content .enlaces__content .metodos_pago {
    width: 100%;
    margin: 15px 0;
  }
  footer .footer__content .enlaces__content .contactanos {
    max-width: 100%;
    padding-left: 50px;
    flex-wrap: wrap;
    text-wrap: pretty;
  }
  footer .footer__content .enlaces__content .cuenta {
    max-width: 100%;
  }
  footer .footer__content .enlaces__content .cuenta .cuenta__title {
    padding-left: 50px;
  }
  footer .footer__content .enlaces__content .cuenta .caja {
    width: 100%;
    padding-left: 50px;
  }
  footer .footer__content .enlaces__content .cuenta .caja a {
    width: 100%;
  }
}
@media screen and (max-width: 430px) {
  footer .footer__content .enlaces__top {
    width: 100%;
  }
  footer .footer__content .enlaces__top .enlaces {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
  }
  footer .footer__content .enlaces__top .enlaces a {
    margin-right: 5px;
    margin-bottom: 10px;
  }
}
.form__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
}
.form__container .msj__error {
  margin-top: 10px;
}
.form__container .form__content {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}
.form__container .form__content .form__dsc {
  color: #cecece;
  font-size: 15px;
}
.form__container .form__content .form__dsc h1 {
  color: white;
}
.form__container .form__content form {
  width: 100%;
}
.form__container .form__content form .inputs__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 15px 0 5px;
}
.form__container .form__content form .inputs__top .input__box {
  width: 50%;
  border-radius: 15px;
}
.form__container .form__content form .inputs__top .input__box input {
  border: solid 3px rgb(6, 23, 95);
  border-radius: 15px;
  width: 100%;
  height: 45px;
  padding: 15px 15px;
  outline: none;
}
.form__container .form__content form .inputs__top .input__box .incorrecto {
  border: solid red 1px;
  color: red;
}
.form__container .form__content form .inputs__top .input__box .incorrecto::-moz-placeholder {
  color: red;
}
.form__container .form__content form .inputs__top .input__box .incorrecto::placeholder {
  color: red;
}
.form__container .form__content form .input__box {
  width: 100%;
  border-radius: 15px;
  margin: 10px 0 0 0;
}
.form__container .form__content form .input__box input,
.form__container .form__content form .input__box textarea {
  width: 100%;
  border-radius: 15px;
  outline: none;
  border: solid 3px rgb(6, 23, 95);
}
.form__container .form__content form .input__box input {
  height: 45px;
  padding: 15px;
}
.form__container .form__content form .input__box .incorrecto {
  border: solid red 1px;
  color: red;
}
.form__container .form__content form .input__box .incorrecto::-moz-placeholder {
  color: red;
}
.form__container .form__content form .input__box .incorrecto::placeholder {
  color: red;
}
.form__container .form__content form .input__box textarea {
  padding: 10px;
  min-height: 150px;
}
.form__container .form__content form .input__box #msj__error-area {
  margin-bottom: 25px;
}

#msj__error-nombre {
  width: 100%;
  color: red;
  font-weight: 200;
  font-size: 9px;
  display: none;
}

#msj__error-correo {
  width: 100%;
  color: red;
  font-weight: 200;
  font-size: 9px;
  display: none;
}

#msj__error-telefono {
  width: 100%;
  color: red;
  font-weight: 200;
  font-size: 9px;
  display: none;
}

#msj__error-area {
  width: 100%;
  color: red;
  font-weight: 200;
  font-size: 9px;
  display: none;
}

#error__msj {
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}
#error__msj .error__msj--content {
  width: 100%;
  background-color: rgba(160, 2, 2, 0.699);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  border-radius: 10px;
}
#error__msj .error__msj--content .icon__msj {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#error__msj .error__msj--content .icon__msj .icon__wrong {
  width: 50px;
  height: 100%;
}
#error__msj .error__msj--content .icon__msj .icon__wrong i {
  padding: 10px 5px;
  height: 100%;
  width: 100%;
  color: rgb(255, 29, 29);
  margin-right: 10px;
}
#error__msj .error__msj--content .icon__msj .msj__error {
  text-align: center;
  width: 100%;
  height: 100%;
  transform: translateY(-20%);
}
#error__msj .error__msj--content .icon__msj .msj__error p {
  text-align: bottom;
  height: 100%;
  font-size: 16px;
  color: #e7e7e7;
}
#error__msj .error__msj--content #icon__x i {
  color: rgb(255, 255, 255);
}

.button__sumbit {
  width: 100%;
}
.button__sumbit .button {
  border: none;
  outline: none;
  font-family: "Urbanist";
  font-weight: 600;
  letter-spacing: 1px;
  padding: 8px 15px;
  border-radius: 5px;
  color: #cecece;
  background-color: #52249b;
}

@media screen and (max-width: 800px) {
  .form__container {
    width: 100%;
  }
  .form__container .form__content {
    max-width: 90%;
  }
}
@media screen and (max-width: 700px) {
  .form__container {
    width: 100%;
  }
  .form__container .form__content {
    max-width: 100%;
  }
  #error__msj .error__msj--content .msj__error p {
    text-align: center;
    width: 100%;
    height: 100%;
    transform: translateY(10px);
  }
}
@media only screen and (max-width: 600px) {
  .form__container {
    width: 100%;
  }
  .form__container .form__content {
    max-width: 100%;
  }
  .form__container .form__content #form__contacto {
    width: 100%;
  }
  .form__container .form__content #form__contacto .inputs__top {
    display: flex;
    flex-direction: column;
  }
  .form__container .form__content #form__contacto .inputs__top .input__box {
    width: 100%;
  }
  #error__msj {
    position: relative;
  }
  #error__msj .error__msj--content {
    align-items: center;
  }
  #error__msj .error__msj--content .msj__error {
    text-align: center;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    text-align: center;
  }
  #error__msj .error__msj--content #icon__x i {
    position: absolute;
    top: 5px;
    right: 10px;
    color: rgb(255, 255, 255);
  }
}
@media screen and (max-width: 400px) {
  #error__msj .error__msj--content {
    padding: 0;
  }
  #error__msj .error__msj--content .msj__error {
    padding-right: 10px;
  }
}
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */